# // APPLICATION CONFIG
JWT_SECRET=
LOG_LEVEL="info"
# // SERVER CONFIG
# SERVER_HOSTNAME=""    
# SERVER_BIND_ADDRESS=""

# // DATABASE CONFIG
# DB_SSL_MODE
# DB_MAX_CONNECTIONS
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
# DB_ROOT_CERT_FILE 
DB_DEBUG_MODE="false"     
DEFAULT_CLUSTER_NAME=
DEFAULT_CLUSTER_API_URL=
DEFAULT_CLUSTER_CA_DATA=
DEFAULT_CLUSTER_TOKEN=
DEFAULT_USER_EMAIL=
DEFAULT_USER_NAME=
DEFAULT_USER_PASS=
