# // APPLICATION CONFIG
JWT_SECRET=
LOG_LEVEL="info"
# // SERVER CONFIG
# SERVER_HOSTNAME=""    
# SERVER_BIND_ADDRESS=""

# // DATABASE CONFIG
# DB_SSL_MODE
# DB_MAX_CONNECTIONS
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stackdome_dev
DB_USERNAME=postgres
DB_PASSWORD=
# DB_ROOT_CERT_FILE 
DB_DEBUG_MODE="false"

# // TEST ENVIRONMENT OVERRIDES (for integration tests)
# TEST_LOG_LEVEL="debug"
# TEST_JWT_SECRET=""
# TEST_ENCRYPTION_KEY=""     
DEFAULT_CLUSTER_NAME=
DEFAULT_CLUSTER_API_URL=
DEFAULT_CLUSTER_CA_DATA=
DEFAULT_CLUSTER_TOKEN=
DEFAULT_USER_EMAIL=
DEFAULT_USER_NAME=
DEFAULT_USER_PASS=
